RewriteEngine On
RewriteBase /SistemaDeFeedback/
RewriteRule !\.(js|ico|txt|gif|jpg|png|css|woff|woff2)$ index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]